.search-form{
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}
.label{
    display: none;
}
.btn{
    margin-left: 15px;
    width: 100px;
}
.space{
    width: 200px;
}
@media (max-width: 480px){
    .buscador{
        justify-content: center;
    }
}