.search-form{
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}
.label{
    display: none;
}
.btn-search{
    margin-left: 15px;
    width: 100px;
}
.space{
    width: 200px;
}
.radio-button {
    cursor: pointer;
    margin-right: 3px;
}
.label-form{
    color: #444;
    cursor: pointer;
}
.label-form:hover{
    font-weight: 600;
}
.label-pelicula{
    margin-right: 10px;
    margin-left: 5px;
}

