html, body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: #141414;
    color: #ffffff;
    margin: 0;
    padding: 10px;
    height: 100%;
}
#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
h1, h2, h3 {
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 700;
    letter-spacing: -0.5px;
    color: #bb0000;
}
nav {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #eee;
    border-radius: 4px;
    margin-bottom: 20px;
}
.nav {
    margin: 0 !important;
}
.nav a{
    color: #444;
    text-decoration: none;
}
.nav a:hover{
    font-weight: bold;
}
.search-form, .filter-form {
    padding: .5rem 1rem;
    display: grid;
    grid-template-columns: 4fr 1fr;
    column-gap: 5px;
}
.filter-form {
    grid-template-columns: 1fr;
}
.search-form .btn-sm{
    line-height: 1;
    font-size: 0.9rem;
}
.search-form input,
.filter-form input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-top: 3px;
    vertical-align: middle;
    line-height: 1;
    font-size: 1rem;
    padding-bottom: 4px;
}
.filter-form input {
    line-height: 1.5;
}
.cards {
    padding: 0.75rem 1.25rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5%;
}
.cardBody {
    margin-top: 20px;
}
.single-card-people {
    width: 19%;
}
.single-card-movie {
    width: 24%;
    margin-bottom: 10px;
}
.single-card-playing {
    width: 15%;
}
#now-playing .card-text{
    height: 100px;
    overflow: hidden;
}
.single-card-tv {
    width: 19%;
}
.tv-show .card-text{
    height: 100px;
    overflow: hidden;
}
.single-card-on-air{
    width: 15%;
}
#on-air-today .card-text{
    height: 100px;
    overflow: hidden;
}
.all-movies .single-card-movie {
    width: 15%;
}
.header-container{
    position: sticky;
    top: 0;
    background-color: #141414;
    z-index: 1000;
}
.masPersonajes{
    color:#990000;
}
.gif{
    width: min-content;
    align-self: center;
}
@media(min-width: 765px){
    nav {
        grid-template-columns: 4fr 3fr;
    }
}